    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Preloader -->

    <div class="container-fluid">
        <!-- box header -->
        <header class="box-header">
            <div class="box-logo">

                <a href="index.html">
                	<img src="assets/images/logo-min.png" alt="Logo" style="width: 5%;">
                	<img src="assets/images/logo_en.png" alt="Logo" style="width: 30%;">
                </a>
            </div>
        </header>
        <!-- end box header -->

        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    <span class="box-words-wrapper">
                        <b class="is-visible">soon</b>
                        <b>&nbsp;will</b>
                        <b>here</b>
                    </span>
		        </h1>
                <h5>Will simplify the individual and teamwork of engineers</h5>
                <h5 style="font-size: x-small;">
                	How to participate? - write to us.<br>
                	Email for feedback: <a href="mailo:box@portalk.ru">box@pcon.world</a>
                </h5>
            </div>
        </section>
        <!-- end box-intro -->
    </div>

