<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Engineers Portal | Creating conditions - open the future!</title>
    <link rel="icon" href="assets/fav.png" type="image/x-icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Preloader -->

    <div class="container-fluid">
        <!-- box header -->
        <header class="box-header">
            <div class="box-logo">

                <a href="index.html">
                	<%= image_tag("logo-min.png", :alt => "Logo", :style => "width: 5%") %>
                	<%= image_tag("logo_en.png", :alt => "Engineers Portal", :style => "width: 40%") %>
                </a>
            </div>
            <div class="box-line"></div>
        </header>
        <!-- end box header -->

        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    <span class="box-words-wrapper">
                        <b class="is-visible">soon</b>
                        <b>&nbsp;will</b>
                        <b>here</b>
                    </span>
		        </h1>
                <h5>Will simplify the individual and teamwork of engineers</h5>
                <h5 style="font-size: x-small;">
                	How to participate? - write to us.<br>
                	Email for feedback: <a href="mailo:box@portalk.ru">box@pcon.world</a>
                </h5>
            </div>
        </section>
        <!-- end box-intro -->
    </div>

</body>

</html>